@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 165, 1) 32%,
    rgba(252, 176, 69, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.button {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 165, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  font-weight: 500;
  border: none !important;
}

th{
  font-weight: 700;
  font-size: 18px;
}
#update {
  display: none;
}
